<div class="specialOffersContainer">
    <div class="specialOffer row">
        <div class="col-4 center-items-inside">
            <div class="specialOfferBook"></div>
        </div>
        <div class="col-8">
            <div class="mt-5">
                <h2 class="mb-5">Арнайы ұсыныс</h2>
                <div class="mt-6 center-items-inline">
                    <h1 class="me-5">Стив Джобс</h1>
                    <h4>Уолтер Айзексон</h4>
                </div>
                <div class="mt-6 center-items-inline">
                    <p class="me-5">7990 тг</p>
                    <img src="assets\images\stars.png" alt="Stars">
                </div>
                <button class="mt-5">Сатып алу</button>
            </div>
        </div>
    </div>
</div>


