<div class="container">
    <footer class="row">
        <div class="col-12 col-lg-3 center-items-inside-column-wise mt-3">
            <img src="assets\images\mazmunLogo.png" alt="Mazmun Logo">
            <div>
                <p>Интернет дүкен © 2022</p>
                <p>Барлық құқық қорғалған</p>
            </div>
        </div>
        <div class="col-12 col-lg-3">
            <div class="center-items-inside-column-wise">
                <a href="#">Сайт туралы</a>
                <a href="#">Серіктестер</a>
                <a href="#">F.A.Q.</a>
                <a href="#">Тауарды қайтару</a>
                <a href="#">Қоғамдық оферта</a>
            </div>
        </div>
        <div class="col-12 col-lg-3">
            <div class="center-items-inside-column-wise">
                <a href="#">Жеткізу</a>
                <a href="#">Құпиялық шарт</a>
                <a href="#">Байланыс</a>
                <a href="#">Кері байланыс</a>
                <a href="#">Мекен - жайы</a>
            </div>
        </div>
        <div class="col-12 col-lg-3 center-items-inside footer-social-media">
            <a href="#"><img src="assets\images\insta.png" alt="Instagra Logo"></a>
            <a href="#"><img src="assets\images\facebook.png" alt="Instagra Logo"></a>
            <a href="#"><img src="assets\images\telegran.png" alt="Instagra Logo"></a>
        </div>
    </footer>
</div>