* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    background: #EBF8EB;
    font-size: 1.6rem;
}

:root {
    --main-font-family: 'Inter', sans-serif;
}

/* Centering Everything Inside a Div */

.center-items-inside {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-items-inside-column-wise {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*  */