@import "~ngx-spinner/animations/fire.css";
@import '~@coreui/coreui/dist/css/coreui.min.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    --main-font-family: 'Inter', sans-serif;
}

body {
    background: #EBF8EB;
    font-size: 1.6rem;
}

/* Centering Everything Inside a Div */

.mt-6 {
    margin-top: 5rem;
}

.center-items-inside {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-items-inline {
    display: flex;
    align-items: center;
}

.center-items-inside-column-wise {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media only screen and (max-width: 1300px) {
    .margin-in-mobile {
        margin-block: 3rem;
    }
}

/*  */